# TA-Lib Tutorial

"TA-Lib is widely used by trading software developers requiring to perform technical analysis of financial market data."  
We will show how to use them here, in the context of pinkfish.

In [1]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [2]:
import datetime

import matplotlib.pyplot as plt
import pandas as pd
import talib
from talib.abstract import *
from talib import MA_Type

import pinkfish as pf

# Format price data
pd.options.display.float_format = '{:0.3f}'.format

%matplotlib inline

In [3]:
# Set size of inline plots
'''note: rcParams can't be in same cell as import matplotlib
   or %matplotlib inline
   
   %matplotlib notebook: will lead to interactive plots embedded within
   the notebook, you can zoom and resize the figure
   
   %matplotlib inline: only draw static images in the notebook
'''
plt.rcParams["figure.figsize"] = (10, 7)

Some global data

In [4]:
symbol = 'SPY'
start = datetime.datetime(2018, 1, 1)
end = datetime.datetime.now()

Fetch symbol data from cache, if available.

In [5]:
ts = pf.fetch_timeseries(symbol)
ts.tail()

              open    high     low   close  adj_close    volume
date
2023-07-24 453.370 455.040 452.300 454.200    454.200  54023400
2023-07-25 453.920 456.740 453.870 455.440    455.440  55191200
2023-07-26 454.470 456.990 453.380 455.510    455.510  71052900
2023-07-27 459.020 459.440 451.550 452.490    452.490  92194400
2023-07-28 455.880 457.780 452.490 456.920    456.920  79949400

Select timeseries between start and end.

In [6]:
ts = pf.select_tradeperiod(ts, start, end)
ts.head()

              open    high     low   close  adj_close    volume
date
2017-01-03 225.040 225.830 223.880 225.240    201.337  91366500
2017-01-04 225.620 226.750 225.610 226.580    202.535  78744400
2017-01-05 226.270 226.580 225.480 226.400    202.374  78379000
2017-01-06 226.530 227.750 225.900 227.210    203.098  71559900
2017-01-09 226.910 227.070 226.420 226.460    202.428  46939700

### Get info about TA-Lib

In [7]:
print('There are {} TA-Lib functions!'.format(len(talib.get_functions())))

There are 158 TA-Lib functions!

Here is a complete listing of the functions by group:

In [8]:
for group, funcs in talib.get_function_groups().items():
    print(group)
    print('-----------------------------------------')
    for func in funcs:
        f = Function(func)
        print('{} - {}'.format(func, f.info['display_name']))
    print()

Cycle Indicators
-----------------------------------------
HT_DCPERIOD - Hilbert Transform - Dominant Cycle Period
HT_DCPHASE - Hilbert Transform - Dominant Cycle Phase
HT_PHASOR - Hilbert Transform - Phasor Components
HT_SINE - Hilbert Transform - SineWave
HT_TRENDMODE - Hilbert Transform - Trend vs Cycle Mode

Math Operators
-----------------------------------------
ADD - Vector Arithmetic Add
DIV - Vector Arithmetic Div
MAX - Highest value over a specified period
MAXINDEX - Index of highest value over a specified period
MIN - Lowest value over a specified period
MININDEX - Index of lowest value over a specified period
MINMAX - Lowest and highest values over a specified period
MINMAXINDEX - Indexes of lowest and highest values over a specified period
MULT - Vector Arithmetic Mult
SUB - Vector Arithmetic Substraction
SUM - Summation

Math Transform
-----------------------------------------
ACOS - Vector Trigonometric ACos
ASIN - Vector Trigonometric ASin
ATAN - Vector Trigonometric ATan
CEIL - Vector Ceil
COS - Vector Trigonometric Cos
COSH - Vector Trigonometric Cosh
EXP - Vector Arithmetic Exp
FLOOR - Vector Floor
LN - Vector Log Natural
LOG10 - Vector Log10
SIN - Vector Trigonometric Sin
SINH - Vector Trigonometric Sinh
SQRT - Vector Square Root
TAN - Vector Trigonometric Tan
TANH - Vector Trigonometric Tanh

Momentum Indicators
-----------------------------------------
ADX - Average Directional Movement Index
ADXR - Average Directional Movement Index Rating
APO - Absolute Price Oscillator
AROON - Aroon
AROONOSC - Aroon Oscillator
BOP - Balance Of Power
CCI - Commodity Channel Index
CMO - Chande Momentum Oscillator
DX - Directional Movement Index
MACD - Moving Average Convergence/Divergence
MACDEXT - MACD with controllable MA type
MACDFIX - Moving Average Convergence/Divergence Fix 12/26
MFI - Money Flow Index
MINUS_DI - Minus Directional Indicator
MINUS_DM - Minus Directional Movement
MOM - Momentum
PLUS_DI - Plus Directional Indicator
PLUS_DM - Plus Directional Movement
PPO - Percentage Price Oscillator
ROC - Rate of change : ((price/prevPrice)-1)*100
ROCP - Rate of change Percentage: (price-prevPrice)/prevPrice
ROCR - Rate of change ratio: (price/prevPrice)
ROCR100 - Rate of change ratio 100 scale: (price/prevPrice)*100
RSI - Relative Strength Index
STOCH - Stochastic
STOCHF - Stochastic Fast
STOCHRSI - Stochastic Relative Strength Index
TRIX - 1-day Rate-Of-Change (ROC) of a Triple Smooth EMA
ULTOSC - Ultimate Oscillator
WILLR - Williams' %R

Overlap Studies
-----------------------------------------
BBANDS - Bollinger Bands
DEMA - Double Exponential Moving Average
EMA - Exponential Moving Average
HT_TRENDLINE - Hilbert Transform - Instantaneous Trendline
KAMA - Kaufman Adaptive Moving Average
MA - Moving average
MAMA - MESA Adaptive Moving Average
MAVP - Moving average with variable period
MIDPOINT - MidPoint over period
MIDPRICE - Midpoint Price over period
SAR - Parabolic SAR
SAREXT - Parabolic SAR - Extended
SMA - Simple Moving Average
T3 - Triple Exponential Moving Average (T3)
TEMA - Triple Exponential Moving Average
TRIMA - Triangular Moving Average
WMA - Weighted Moving Average

Pattern Recognition
-----------------------------------------
CDL2CROWS - Two Crows
CDL3BLACKCROWS - Three Black Crows
CDL3INSIDE - Three Inside Up/Down
CDL3LINESTRIKE - Three-Line Strike
CDL3OUTSIDE - Three Outside Up/Down
CDL3STARSINSOUTH - Three Stars In The South
CDL3WHITESOLDIERS - Three Advancing White Soldiers
CDLABANDONEDBABY - Abandoned Baby
CDLADVANCEBLOCK - Advance Block
CDLBELTHOLD - Belt-hold
CDLBREAKAWAY - Breakaway
CDLCLOSINGMARUBOZU - Closing Marubozu
CDLCONCEALBABYSWALL - Concealing Baby Swallow
CDLCOUNTERATTACK - Counterattack
CDLDARKCLOUDCOVER - Dark Cloud Cover
CDLDOJI - Doji
CDLDOJISTAR - Doji Star
CDLDRAGONFLYDOJI - Dragonfly Doji
CDLENGULFING - Engulfing Pattern
CDLEVENINGDOJISTAR - Evening Doji Star
CDLEVENINGSTAR - Evening Star
CDLGAPSIDESIDEWHITE - Up/Down-gap side-by-side white lines
CDLGRAVESTONEDOJI - Gravestone Doji
CDLHAMMER - Hammer
CDLHANGINGMAN - Hanging Man
CDLHARAMI - Harami Pattern
CDLHARAMICROSS - Harami Cross Pattern
CDLHIGHWAVE - High-Wave Candle
CDLHIKKAKE - Hikkake Pattern
CDLHIKKAKEMOD - Modified Hikkake Pattern
CDLHOMINGPIGEON - Homing Pigeon
CDLIDENTICAL3CROWS - Identical Three Crows
CDLINNECK - In-Neck Pattern
CDLINVERTEDHAMMER - Inverted Hammer
CDLKICKING - Kicking
CDLKICKINGBYLENGTH - Kicking - bull/bear determined by the longer marubozu
CDLLADDERBOTTOM - Ladder Bottom
CDLLONGLEGGEDDOJI - Long Legged Doji
CDLLONGLINE - Long Line Candle
CDLMARUBOZU - Marubozu
CDLMATCHINGLOW - Matching Low
CDLMATHOLD - Mat Hold
CDLMORNINGDOJISTAR - Morning Doji Star
CDLMORNINGSTAR - Morning Star
CDLONNECK - On-Neck Pattern
CDLPIERCING - Piercing Pattern
CDLRICKSHAWMAN - Rickshaw Man
CDLRISEFALL3METHODS - Rising/Falling Three Methods
CDLSEPARATINGLINES - Separating Lines
CDLSHOOTINGSTAR - Shooting Star
CDLSHORTLINE - Short Line Candle
CDLSPINNINGTOP - Spinning Top
CDLSTALLEDPATTERN - Stalled Pattern
CDLSTICKSANDWICH - Stick Sandwich
CDLTAKURI - Takuri (Dragonfly Doji with very long lower shadow)
CDLTASUKIGAP - Tasuki Gap
CDLTHRUSTING - Thrusting Pattern
CDLTRISTAR - Tristar Pattern
CDLUNIQUE3RIVER - Unique 3 River
CDLUPSIDEGAP2CROWS - Upside Gap Two Crows
CDLXSIDEGAP3METHODS - Upside/Downside Gap Three Methods

Price Transform
-----------------------------------------
AVGPRICE - Average Price
MEDPRICE - Median Price
TYPPRICE - Typical Price
WCLPRICE - Weighted Close Price

Statistic Functions
-----------------------------------------
BETA - Beta
CORREL - Pearson's Correlation Coefficient (r)
LINEARREG - Linear Regression
LINEARREG_ANGLE - Linear Regression Angle
LINEARREG_INTERCEPT - Linear Regression Intercept
LINEARREG_SLOPE - Linear Regression Slope
STDDEV - Standard Deviation
TSF - Time Series Forecast
VAR - Variance

Volatility Indicators
-----------------------------------------
ATR - Average True Range
NATR - Normalized Average True Range
TRANGE - True Range

Volume Indicators
-----------------------------------------
AD - Chaikin A/D Line
ADOSC - Chaikin A/D Oscillator
OBV - On Balance Volume

### Get info about a specific TA-Lib function

There are 2 different API that are available with talib, namely Function API and Abstract API.  For the Function API, you pass in a price series.  For the Abstract API, you pass in a collection of named inputs: 'open', 'high', 'low', 'close', and 'volume'.  One or more of these may be used as defaults, but can be changed with the 'price' parameter.

Print the function instance to get documentation.  We see that SMA has the parameter 'timeperiod' with default '30'.  The input_arrays can be a dataframe with columns named 'open', 'high', 'low', 'close', and 'volume'.

In [9]:
print(SMA)

SMA([input_arrays], [timeperiod=30])

Simple Moving Average (Overlap Studies)

Inputs:
    price: (any ndarray)
Parameters:
    timeperiod: 30
Outputs:
    real

More information is available through the 'info' property.  We observe here that the default price used is 'close'.  This can be changed by setting 'price' in the function call, e.g. price='open'.

In [10]:
print(SMA.info)

{'name': 'SMA', 'group': 'Overlap Studies', 'display_name': 'Simple Moving Average', 'function_flags': ['Output scale same as input'], 'input_names': OrderedDict([('price', 'close')]), 'parameters': OrderedDict([('timeperiod', 30)]), 'output_flags': OrderedDict([('real', ['Line'])]), 'output_names': ['real']}

If we just want to see the inputs, we can print the input_names property.

In [11]:
print(SMA.input_names)

OrderedDict([('price', 'close')])

If we just want to see the parameters, we can print the paramters property.

In [12]:
print(SMA.parameters)

OrderedDict([('timeperiod', 30)])

If we just want to see the outputs, we can print the output_names property.

In [13]:
print(SMA.output_names)

['real']

### Create a technical indicator using talib

Create technical indicator: SMA (using defaults: timeperiod=30, price='close')

In [14]:
sma = SMA(ts)
sma.tail()

date
2023-07-24   441.924
2023-07-25   442.776
2023-07-26   443.499
2023-07-27   444.027
2023-07-28   444.685
dtype: float64

Create technical indicator: SMA (using: timeperiod=200, price='close')

In [15]:
sma200 = SMA(ts, timeperiod=200)
sma200.tail()

date
2023-07-24   404.688
2023-07-25   405.080
2023-07-26   405.491
2023-07-27   405.940
2023-07-28   406.424
dtype: float64

Create technical indicator: SMA (using: timeperiod=200, price='open')

In [16]:
sma200 = SMA(ts, timeperiod=200, price='open')
sma200.tail()

date
2023-07-24   404.306
2023-07-25   404.708
2023-07-26   405.102
2023-07-27   405.553
2023-07-28   406.012
dtype: float64

### Add a technical indicator to a pinkfish timeseries

In [17]:
ts['sma200'] = sma200
ts.tail()

              open    high     low   close  adj_close    volume  sma200
date
2023-07-24 453.370 455.040 452.300 454.200    454.200  54023400 404.306
2023-07-25 453.920 456.740 453.870 455.440    455.440  55191200 404.708
2023-07-26 454.470 456.990 453.380 455.510    455.510  71052900 405.102
2023-07-27 459.020 459.440 451.550 452.490    452.490  92194400 405.553
2023-07-28 455.880 457.780 452.490 456.920    456.920  79949400 406.012

### Try another one

Commodity Channel Index

In [18]:
print(CCI)

CCI([input_arrays], [timeperiod=14])

Commodity Channel Index (Momentum Indicators)

Inputs:
    prices: ['high', 'low', 'close']
Parameters:
    timeperiod: 14
Outputs:
    real

In [19]:
print(CCI.input_names)

OrderedDict([('prices', ['high', 'low', 'close'])])

In [20]:
print(CCI.parameters)

OrderedDict([('timeperiod', 14)])

In [21]:
cci = CCI(ts)
ts['cci'] = cci
ts.tail()

              open    high     low   close  adj_close    volume  sma200    cci
date
2023-07-24 453.370 455.040 452.300 454.200    454.200  54023400 404.306 79.622
2023-07-25 453.920 456.740 453.870 455.440    455.440  55191200 404.708 87.868
2023-07-26 454.470 456.990 453.380 455.510    455.510  71052900 405.102 82.009
2023-07-27 459.020 459.440 451.550 452.490    452.490  92194400 405.553 64.513
2023-07-28 455.880 457.780 452.490 456.920    456.920  79949400 406.012 82.017

### Now for something a little more difficult

Bollinger Bands

In [22]:
print(BBANDS)

BBANDS([input_arrays], [timeperiod=5], [nbdevup=2], [nbdevdn=2], [matype=0])

Bollinger Bands (Overlap Studies)

Inputs:
    price: (any ndarray)
Parameters:
    timeperiod: 5
    nbdevup: 2
    nbdevdn: 2
    matype: 0 (Simple Moving Average)
Outputs:
    upperband
    middleband
    lowerband

In [23]:
print(BBANDS.input_names)

OrderedDict([('price', 'close')])

In [24]:
print(BBANDS.parameters)

OrderedDict([('timeperiod', 5), ('nbdevup', 2), ('nbdevdn', 2), ('matype', 0)])

Print the available moving average types

In [25]:
attributes = [attr for attr in dir(MA_Type) 
              if not attr.startswith('__')]
attributes

['DEMA', 'EMA', 'KAMA', 'MAMA', 'SMA', 'T3', 'TEMA', 'TRIMA', 'WMA', '_lookup']

In [26]:
MA_Type.__dict__

{'_lookup': {0: 'Simple Moving Average',
  1: 'Exponential Moving Average',
  2: 'Weighted Moving Average',
  3: 'Double Exponential Moving Average',
  4: 'Triple Exponential Moving Average',
  5: 'Triangular Moving Average',
  6: 'Kaufman Adaptive Moving Average',
  7: 'MESA Adaptive Moving Average',
  8: 'Triple Generalized Double Exponential Moving Average'}}

In [27]:
print(MA_Type[MA_Type.DEMA])

Double Exponential Moving Average

Set timeperiod=20 and matype=MA_Type.EMA

In [28]:
#upper, middle, lower = BBANDS(ts, timeperiod=20, matype=MA_Type.EMA)
#(for some reason, the abstract API doesn't work for BBANDS, so use the function API)

upper, middle, lower = talib.BBANDS(ts.close, timeperiod=20, matype=MA_Type.EMA)
ts['upper'] = upper; ts['middle'] = middle; ts['lower'] = lower
ts.tail()

,open,high,low,close,adj_close,volume,sma200,cci,upper,middle,lower
date,,,,,,,,,,,
2023-07-24,453.370,455.040,452.300,454.200,454.200,54023400,404.306,79.622,459.592,445.835,432.078
2023-07-25,453.920,456.740,453.870,455.440,455.440,55191200,404.708,87.868,459.800,446.750,433.700
2023-07-26,454.470,456.990,453.380,455.510,455.510,71052900,405.102,82.009,460.438,447.584,434.731
2023-07-27,459.020,459.440,451.550,452.490,452.490,92194400,405.553,64.513,460.145,448.051,435.958
2023-07-28,455.880,457.780,452.490,456.920,456.920,79949400,406.012,82.017,460.756,448.896,437.036

In [29]:
print(MOM)

MOM([input_arrays], [timeperiod=10])

Momentum (Momentum Indicators)

Inputs:
    price: (any ndarray)
Parameters:
    timeperiod: 10
Outputs:
    real

In [30]:
mom10 = MOM(ts, timeperiod=10)
mom10.tail()

date
2023-07-24   14.540
2023-07-25   12.980
2023-07-26    9.490
2023-07-27    2.930
2023-07-28    7.640
dtype: float64

In [31]:
ts['mom10'] = mom10
ts.head(50)

,open,high,low,close,adj_close,volume,sma200,cci,upper,middle,lower,mom10
date,,,,,,,,,,,,
2017-01-03,225.040,225.830,223.880,225.240,201.337,91366500,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-04,225.620,226.750,225.610,226.580,202.535,78744400,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-05,226.270,226.580,225.480,226.400,202.374,78379000,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-06,226.530,227.750,225.900,227.210,203.098,71559900,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-09,226.910,227.070,226.420,226.460,202.428,46939700,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-10,226.480,227.450,226.010,226.460,202.428,63771900,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-11,226.360,227.100,225.590,227.100,203.000,74650000,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-12,226.500,226.750,224.960,226.530,202.490,72113200,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-13,226.730,227.400,226.690,227.050,202.955,62717900,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-17,226.310,226.780,225.800,226.250,202.240,61240800,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-18,226.540,226.800,225.900,226.750,202.687,54793300,NaN,NaN,NaN,NaN,NaN,1.510
2017-01-19,226.840,227.000,225.410,225.910,201.936,66608800,NaN,NaN,NaN,NaN,NaN,-0.670
2017-01-20,226.700,227.310,225.970,226.740,202.678,129168600,NaN,NaN,NaN,NaN,NaN,0.340
2017-01-23,226.740,226.810,225.270,226.150,202.151,75061600,NaN,-52.243,NaN,NaN,NaN,-1.060
2017-01-24,226.400,228.080,226.270,227.600,203.447,95555300,NaN,168.187,NaN,NaN,NaN,1.140
2017-01-25,228.700,229.570,228.510,229.570,205.208,84437700,NaN,321.968,NaN,NaN,NaN,3.110
2017-01-26,229.400,229.710,229.010,229.330,204.993,59970700,NaN,219.276,NaN,NaN,NaN,2.230
2017-01-27,229.420,229.590,228.760,228.970,204.672,59711100,NaN,142.345,NaN,NaN,NaN,2.440
2017-01-30,228.170,228.200,226.410,227.550,203.402,79737300,NaN,15.591,NaN,NaN,NaN,0.500
2017-01-31,226.980,227.600,226.320,227.530,203.384,75880800,NaN,-4.022,229.254,227.069,224.884,1.280
2017-02-01,227.530,228.590,226.940,227.620,203.465,79117700,NaN,31.568,229.148,227.121,225.095,0.870
2017-02-02,227.620,228.100,226.820,227.770,203.599,69657600,NaN,13.427,229.205,227.183,225.162,1.860
2017-02-03,228.820,229.550,228.460,229.340,205.002,80563200,NaN,107.690,229.564,227.389,225.213,2.600
2017-02-06,228.870,229.330,228.540,228.930,204.636,57790100,NaN,79.407,229.809,227.535,225.262,2.780
2017-02-07,229.380,229.660,228.720,228.940,204.645,57931200,NaN,75.763,229.977,227.669,225.362,1.340
2017-02-08,228.940,229.390,228.310,229.240,204.913,51566200,NaN,57.571,230.168,227.819,225.469,-0.330
2017-02-09,229.240,230.950,229.240,230.600,206.129,65955200,NaN,124.763,230.719,228.084,225.448,1.270
2017-02-10,231.000,231.770,230.620,231.510,206.942,66015900,NaN,179.751,231.392,228.410,225.428,2.540
2017-02-13,232.080,233.070,232.050,232.770,208.068,55182100,NaN,229.724,232.368,228.825,225.282,5.220
2017-02-14,232.560,233.710,232.160,233.700,208.900,71109000,NaN,181.148,233.355,229.290,225.224,6.170
2017-02-15,233.450,235.140,233.390,234.920,209.990,86785800,NaN,169.285,234.562,229.826,225.090,7.300
2017-02-16,234.950,235.160,233.850,234.720,209.811,84722400,NaN,133.359,235.338,230.292,225.246,6.950
2017-02-17,233.950,235.090,233.930,235.090,210.142,77204100,NaN,111.905,236.125,230.749,225.373,5.750
2017-02-21,235.520,236.690,235.510,236.490,211.394,88946100,NaN,128.435,237.033,231.296,225.559,7.560
2017-02-22,236.020,236.540,235.830,236.280,211.206,62115200,NaN,108.323,237.835,231.770,225.706,7.340
2017-02-23,236.880,236.900,235.560,236.440,211.349,74615900,NaN,98.019,238.672,232.215,225.758,7.200
2017-02-24,235.460,236.790,235.410,236.740,211.617,82381600,NaN,86.951,239.431,232.646,225.861,6.140
2017-02-27,236.640,237.310,236.350,237.110,211.948,56515400,NaN,92.456,240.110,233.071,226.032,5.600
2017-02-28,236.670,236.950,236.020,236.470,211.376,96961900,NaN,73.549,240.337,233.395,226.452,3.700
2017-03-01,238.390,240.320,238.370,239.780,214.334,149158200,NaN,158.568,241.201,234.003,226.805,6.080
2017-03-02,239.560,239.570,238.210,238.270,212.985,70246000,NaN,118.986,241.445,234.409,227.374,3.350
2017-03-03,238.170,238.610,237.730,238.420,213.119,81974300,NaN,97.847,241.540,234.791,228.042,3.700
2017-03-06,237.500,238.120,237.010,237.710,212.484,55391500,NaN,62.714,241.573,235.069,228.566,2.620
2017-03-07,237.360,237.770,236.760,237.000,211.849,65103700,NaN,28.956,241.255,235.253,229.251,0.510
2017-03-08,237.340,237.640,236.400,236.560,211.456,78168800,NaN,1.441,240.692,235.378,230.063,0.280
2017-03-09,236.700,237.240,235.740,236.860,211.724,90683900,NaN,-28.072,240.016,235.519,231.021,0.420
2017-03-10,237.970,238.020,236.590,237.690,212.466,81991700,NaN,20.872,239.576,235.726,231.875,0.950
2017-03-13,237.620,237.860,237.240,237.810,212.573,57256800,NaN,30.353,239.162,235.924,232.686,0.700
2017-03-14,237.180,237.240,236.190,236.900,211.760,59880800,NaN,-49.697,238.754,236.017,233.280,0.430
2017-03-15,237.560,239.440,237.290,238.950,213.592,96081800,NaN,94.220,238.812,236.296,233.781,-0.830

In [32]:
m1 = ts['close'].pct_change(periods=10)
ts['m1'] = m1
ts.head(50)

,open,high,low,close,adj_close,volume,sma200,cci,upper,middle,lower,mom10,m1
date,,,,,,,,,,,,,
2017-01-03,225.040,225.830,223.880,225.240,201.337,91366500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-04,225.620,226.750,225.610,226.580,202.535,78744400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-05,226.270,226.580,225.480,226.400,202.374,78379000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-06,226.530,227.750,225.900,227.210,203.098,71559900,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-09,226.910,227.070,226.420,226.460,202.428,46939700,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-10,226.480,227.450,226.010,226.460,202.428,63771900,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-11,226.360,227.100,225.590,227.100,203.000,74650000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-12,226.500,226.750,224.960,226.530,202.490,72113200,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-13,226.730,227.400,226.690,227.050,202.955,62717900,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-17,226.310,226.780,225.800,226.250,202.240,61240800,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-18,226.540,226.800,225.900,226.750,202.687,54793300,NaN,NaN,NaN,NaN,NaN,1.510,0.007
2017-01-19,226.840,227.000,225.410,225.910,201.936,66608800,NaN,NaN,NaN,NaN,NaN,-0.670,-0.003
2017-01-20,226.700,227.310,225.970,226.740,202.678,129168600,NaN,NaN,NaN,NaN,NaN,0.340,0.002
2017-01-23,226.740,226.810,225.270,226.150,202.151,75061600,NaN,-52.243,NaN,NaN,NaN,-1.060,-0.005
2017-01-24,226.400,228.080,226.270,227.600,203.447,95555300,NaN,168.187,NaN,NaN,NaN,1.140,0.005
2017-01-25,228.700,229.570,228.510,229.570,205.208,84437700,NaN,321.968,NaN,NaN,NaN,3.110,0.014
2017-01-26,229.400,229.710,229.010,229.330,204.993,59970700,NaN,219.276,NaN,NaN,NaN,2.230,0.010
2017-01-27,229.420,229.590,228.760,228.970,204.672,59711100,NaN,142.345,NaN,NaN,NaN,2.440,0.011
2017-01-30,228.170,228.200,226.410,227.550,203.402,79737300,NaN,15.591,NaN,NaN,NaN,0.500,0.002
2017-01-31,226.980,227.600,226.320,227.530,203.384,75880800,NaN,-4.022,229.254,227.069,224.884,1.280,0.006
2017-02-01,227.530,228.590,226.940,227.620,203.465,79117700,NaN,31.568,229.148,227.121,225.095,0.870,0.004
2017-02-02,227.620,228.100,226.820,227.770,203.599,69657600,NaN,13.427,229.205,227.183,225.162,1.860,0.008
2017-02-03,228.820,229.550,228.460,229.340,205.002,80563200,NaN,107.690,229.564,227.389,225.213,2.600,0.011
2017-02-06,228.870,229.330,228.540,228.930,204.636,57790100,NaN,79.407,229.809,227.535,225.262,2.780,0.012
2017-02-07,229.380,229.660,228.720,228.940,204.645,57931200,NaN,75.763,229.977,227.669,225.362,1.340,0.006
2017-02-08,228.940,229.390,228.310,229.240,204.913,51566200,NaN,57.571,230.168,227.819,225.469,-0.330,-0.001
2017-02-09,229.240,230.950,229.240,230.600,206.129,65955200,NaN,124.763,230.719,228.084,225.448,1.270,0.006
2017-02-10,231.000,231.770,230.620,231.510,206.942,66015900,NaN,179.751,231.392,228.410,225.428,2.540,0.011
2017-02-13,232.080,233.070,232.050,232.770,208.068,55182100,NaN,229.724,232.368,228.825,225.282,5.220,0.023
2017-02-14,232.560,233.710,232.160,233.700,208.900,71109000,NaN,181.148,233.355,229.290,225.224,6.170,0.027
2017-02-15,233.450,235.140,233.390,234.920,209.990,86785800,NaN,169.285,234.562,229.826,225.090,7.300,0.032
2017-02-16,234.950,235.160,233.850,234.720,209.811,84722400,NaN,133.359,235.338,230.292,225.246,6.950,0.031
2017-02-17,233.950,235.090,233.930,235.090,210.142,77204100,NaN,111.905,236.125,230.749,225.373,5.750,0.025
2017-02-21,235.520,236.690,235.510,236.490,211.394,88946100,NaN,128.435,237.033,231.296,225.559,7.560,0.033
2017-02-22,236.020,236.540,235.830,236.280,211.206,62115200,NaN,108.323,237.835,231.770,225.706,7.340,0.032
2017-02-23,236.880,236.900,235.560,236.440,211.349,74615900,NaN,98.019,238.672,232.215,225.758,7.200,0.031
2017-02-24,235.460,236.790,235.410,236.740,211.617,82381600,NaN,86.951,239.431,232.646,225.861,6.140,0.027
2017-02-27,236.640,237.310,236.350,237.110,211.948,56515400,NaN,92.456,240.110,233.071,226.032,5.600,0.024
2017-02-28,236.670,236.950,236.020,236.470,211.376,96961900,NaN,73.549,240.337,233.395,226.452,3.700,0.016
2017-03-01,238.390,240.320,238.370,239.780,214.334,149158200,NaN,158.568,241.201,234.003,226.805,6.080,0.026
2017-03-02,239.560,239.570,238.210,238.270,212.985,70246000,NaN,118.986,241.445,234.409,227.374,3.350,0.014
2017-03-03,238.170,238.610,237.730,238.420,213.119,81974300,NaN,97.847,241.540,234.791,228.042,3.700,0.016
2017-03-06,237.500,238.120,237.010,237.710,212.484,55391500,NaN,62.714,241.573,235.069,228.566,2.620,0.011
2017-03-07,237.360,237.770,236.760,237.000,211.849,65103700,NaN,28.956,241.255,235.253,229.251,0.510,0.002
2017-03-08,237.340,237.640,236.400,236.560,211.456,78168800,NaN,1.441,240.692,235.378,230.063,0.280,0.001
2017-03-09,236.700,237.240,235.740,236.860,211.724,90683900,NaN,-28.072,240.016,235.519,231.021,0.420,0.002
2017-03-10,237.970,238.020,236.590,237.690,212.466,81991700,NaN,20.872,239.576,235.726,231.875,0.950,0.004
2017-03-13,237.620,237.860,237.240,237.810,212.573,57256800,NaN,30.353,239.162,235.924,232.686,0.700,0.003
2017-03-14,237.180,237.240,236.190,236.900,211.760,59880800,NaN,-49.697,238.754,236.017,233.280,0.430,0.002
2017-03-15,237.560,239.440,237.290,238.950,213.592,96081800,NaN,94.220,238.812,236.296,233.781,-0.830,-0.003