# buy-open-sell-close

On the first trading day of each week, buy on the open, then sell on the close.

In [1]:
import pandas as pd
import datetime
import pinkfish as pf

# Format price data.
pd.options.display.float_format = '{:0.2f}'.format

Some global data

In [2]:
symbol = 'SPY'
capital = 10000
start = datetime.datetime(2015, 1, 1)
end = datetime.datetime.now()

Timeseries

In [3]:
# Fetch timeseries, select.
ts = pf.fetch_timeseries(symbol)
ts = pf.select_tradeperiod(ts, start, end, use_adj=False)

# Add calendar columns.
ts = pf.calendar(ts)

# Finalize timeseries.
ts, start = pf.finalize_timeseries(ts, start)

# Create tradelog and daily balance objects.
tlog = pf.TradeLog(symbol)
dbal = pf.DailyBal()

In [4]:
ts

,high,low,open,close,volume,adj_close,dotw,dotm,doty,month,first_dotw,first_dotm,first_doty,last_dotw,last_dotm,last_doty
date,,,,,,,,,,,,,,,,
2015-01-02,206.88,204.18,206.38,205.43,121465900.00,182.15,4,2,2,1,False,True,True,True,False,False
2015-01-05,204.37,201.35,204.17,201.72,169632600.00,178.86,0,5,5,1,True,False,False,False,False,False
2015-01-06,202.72,198.86,202.09,199.82,209151400.00,177.18,1,6,6,1,False,False,False,False,False,False
2015-01-07,202.72,200.88,201.42,202.31,125346700.00,179.38,2,7,7,1,False,False,False,False,False,False
2015-01-08,206.16,203.99,204.01,205.90,147217800.00,182.57,3,8,8,1,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-26,396.41,390.29,390.93,395.98,113023400.00,395.98,4,26,85,3,False,False,False,True,False,False
2021-03-29,396.75,392.81,394.40,395.78,108107600.00,395.78,0,29,88,3,True,False,False,False,False,False
2021-03-30,395.45,393.02,394.42,394.73,76262200.00,394.73,1,30,89,3,False,False,False,False,False,False
2021-03-31,398.00,395.31,395.34,396.33,112664200.00,396.33,2,31,90,3,False,False,False,False,True,False
2021-04-01,400.00,398.20,398.40,399.97,68796788.00,399.97,3,1,91,4,False,True,False,False,False,False

Algorithm

In [5]:
pf.TradeLog.cash = capital

# Loop through timeseries.
for i, row in enumerate(ts.itertuples()):

    date = row.Index.to_pydatetime()
    end_flag = pf.is_last_row(ts, i)

    # On first trading day of the week, buy open, then sell close.
    if row.first_dotw:
        tlog.buy(date, row.open)
        tlog.sell(date, row.close)

    # Record daily balance.
    dbal.append(date, row.high, row.low, row.close)

Retrieve logs

In [6]:
tlog = tlog.get_log()
dbal = dbal.get_log(tlog)

In [7]:
tlog.tail()

,entry_date,entry_price,exit_date,exit_price,pl_points,pl_cash,qty,cumul_total,direction,symbol
321,2021-03-01,385.59,2021-03-01,389.58,3.99,107.73,27,585.09,LONG,SPY
322,2021-03-08,384.66,2021-03-08,381.72,-2.94,-79.38,27,505.71,LONG,SPY
323,2021-03-15,394.33,2021-03-15,396.41,2.08,54.08,26,559.79,LONG,SPY
324,2021-03-22,390.03,2021-03-22,392.59,2.56,69.12,27,628.91,LONG,SPY
325,2021-03-29,394.40,2021-03-29,395.78,1.38,35.88,26,664.79,LONG,SPY

Get stats

In [8]:
stats = pf.stats(ts, tlog, dbal, capital)

Summary

In [9]:
pf.summary(stats)

                         strategy
annual_return_rate           1.04
max_closed_out_drawdown    -13.98
best_month                   6.04
worst_month                 -5.08
sharpe_ratio                 0.22
sortino_ratio                0.13
monthly_std                  1.45
annual_std                   6.95